<section class="locations-container">
    <!-- This is where we need to repeat over our data that we are getting from our service via the controller . The controller should be getting the "travelInfo" data from the service. If you haven't made the controller, do that now and include it on your state object in app.js-->
    <section class="location-card" ng-repeat="location in allLocations" >
        <div class="image-container">
          <img ng-src="{{location.image}}" alt="Image of {{location.country}}">
        </div>
        <div class="location-inner-left">

            <h1>{{location.country}}</h1>
            <p>{{location.desc}}</p>
        </div>
        <div class="location-inner-right">
            <h3>Packages Start At ${{location.price}}</h3>
            <button ui-sref="packages({country: location.country})">See country packages</button>
        </div>
    </section>
</section>
